@font-face {
  font-family: 'Anago Book';
  src: url('Anago-Book.ttf');
}
@font-face {
  font-family: 'Anago Book Italic';
  src: url('Anago-BookItalic.ttf');
}
@font-face {
  font-family: 'Anago Bold';
  src: url('Anago-Bold.ttf')
}
@font-face {
  font-family: 'Anago Bold Italic';
  src: url('Anago-BoldItalic.ttf')
}
@font-face {
  font-family: 'Anago Medium';
  src: url('Anago-Medium.ttf')
}
@font-face {
  font-family: 'Anago Medium Italic';
  src: url('Anago-MediumItalic.ttf')
}


body {
  background: #1D3864;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Anago Book', 'Lato', sans-serif;
}

a {
  font-family: 'Anago Book Italic', sans-serif;
}

p {
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Anago Book','Lato', sans-serif;
}

h1 {
  color: #BD3749;
  font-family: 'Anago Bold', 'Lato', sans-serif;
  font-size: 50pt;
}

h2 {
  color: black;
  font-family: 'Anago Medium Italic', 'Lato', sans-serif;
  font-size: 18px;
}

.button-list {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.button {
  background: #BD3749;
  color: white;

  min-width: 200px;  
  margin: 10px auto;
  padding: 10px 50px;
  text-align: center;

  border: none;
  box-shadow: 3px 3px 2px 0px hsl(352, 55%, 15%);
  transition: background-color 0.2s;
  cursor: pointer;
}

.button:hover {
  background: hsl(352, 55%, 45%);
}

.button:active {
  background: hsl(352,55%,25%);
}


/* Code for the 3D flip animation */
/* scene is the 3D environment*/
.scene {
  width: 100vw;
  height: 110vh;
  perspective: 3000px;
}
/* card is the 3D object*/
.card {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  position: relative;
  transform-style: preserve-3d;
}

.card.is-flipped {
  animation: flip 1.2s ease-in-out;
  animation-fill-mode: forwards;
}

.card.flip-back {
  animation: flip-back 1.2s ease-in-out;
}

@keyframes flip {
  33% {
    transform: scale(0.5);
  }
  66% {
    transform: scale(0.5) rotateY(200deg);
  }
  75% {
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes flip-back {
  0% {
    transform: scale(1) rotateY(180deg);
  }
  33% {
    transform: scale(0.5) rotateY(180deg);
  }
  66% {
    transform: scale(0.5) rotateY(-20deg)
  }
  75% {
    transform: scale(0.5) rotateY(0);
  }
  100% {
    transform: scale(1) rotateY(0);
  }
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  overflow: auto;
}

/* Front face: the animated logo and blurb */
.face-front {
  background: #FED75A;
}

.figure-wrapper {
  height: 60vh; 
}

svg {
  width: 60vw;
  height: 60vh;
}

#tekst {
  max-height: 10vh;
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}

/*Back face: general*/

.face-back {
  background: #D3D0CB;
  transform: rotateY(180deg);
}

.face-back h1 {
  margin-top: 5vh;
  font-size: 47px;
  width: 500px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(1,1,1,0) 0% 40%, #BD3749 40% 80%);
  padding-bottom: 10px;
  color: white;
}

.face-back .info-box {
  margin-top: 5vh;
  text-align: justify;
  padding: 20px;
  max-width: 460px;
  background: white;
}

.face-back h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.flip-back-button {
  margin-top: 5vh;
}

/*Face team: wie zijn wij?*/
#face-team .people-wrapper {
  margin-top: 5vh;
  text-align: justify;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

#face-team .person {
  max-width: 300px;
  min-height: 70px;
  max-height: 70px;

  margin: 5px 20px;
  padding: 0px 20px;

  position: relative;
  overflow: hidden;
  background: white;
  cursor: pointer;
  transition: all 0.5s;

}

#face-team .person.active {
  background: white;
  min-height: 70px;
  max-height: 1000px;
  box-shadow: 0px 0px 5px 5px grey;

}

#face-team .person-head {
  display: flex;
  flex-direction: row;
}

#face-team .person-head img {
  border-radius: 50%;
  border: 2px black;
  padding: 10px 10px 10px 0px;
}

#face-team .person-head h3 {
  font-family: 'Anago Book Italic', 'Lato', sans-serif; 
  color: black;
  opacity: 0.7;
  font-size: 16px;
}

#face-team .person-info p {
  line-height: 1.2em;
  padding-bottom: 10px;
}
