@font-face {
  font-family: 'Anago Book';
  src: url('Anago-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Anago Book Italic';
  src: url('Anago-BookItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Anago Bold';
  src: url('Anago-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Anago Bold Italic';
  src: url('Anago-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Anago Medium';
  src: url('Anago-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Anago Medium Italic';
  src: url('Anago-MediumItalic.ttf') format('truetype');
}


body {
  background: #1D3864;
  font-family: 'Anago Book', 'Lato', sans-serif;
}

a {
  font-family: 'Anago Book Italic', sans-serif;
}

p {
  color: black;
  font-size: 16px;
  font-family: 'Anago Book','Lato', sans-serif;
}

h1 {
  color: #BD3749;
  font-family: 'Anago Bold', 'Lato', sans-serif;
  font-size: 50pt;
}

h2 {
  color: black;
  font-family: 'Anago Medium Italic', 'Lato', sans-serif;
  font-size: 18px;
}
div {
  border: 1px black solid;
}
.button-list {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: visible;
}

.button {
  background: #BD3749;
  color: white;

  min-width: 200px;  
  margin: 10px auto;
  padding: 10px 50px;
  text-align: center;

  border: none;
  -webkit-box-shadow: 3px 3px 2px 0 hsl(352, 55%, 15%);
          box-shadow: 3px 3px 2px 0 hsl(352, 55%, 15%);
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button:hover {
  background: #b23444;
}

.button:active {
  background: #631d26;
}

/* Code for the 3D flip animation */
/* scene is the 3D environment*/
.scene {
  width: 100vw;
  height: 110vh;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  overflow: visible;
}
/* card is the 3D object*/
.card {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card.is-flipped {
  -webkit-animation: flip 1.2s ease-in-out;
          animation: flip 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card.flip-back {
  -webkit-animation: flip-back 1.2s ease-in-out;
          animation: flip-back 1.2s ease-in-out;
}

@-webkit-keyframes flip {
  33% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  66% {
    -webkit-transform: scale(0.5) rotateY(200deg);
            transform: scale(0.5) rotateY(200deg);
  }
  75% {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}

@keyframes flip {
  33% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  66% {
    -webkit-transform: scale(0.5) rotateY(200deg);
            transform: scale(0.5) rotateY(200deg);
  }
  75% {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}

@-webkit-keyframes flip-back {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  33% {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  66% {
    -webkit-transform: scale(0.5) rotateY(-20deg);
            transform: scale(0.5) rotateY(-20deg)
  }
  75% {
    -webkit-transform: scale(0.5) rotateY(0);
            transform: scale(0.5) rotateY(0);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}

@keyframes flip-back {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  33% {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  66% {
    -webkit-transform: scale(0.5) rotateY(-20deg);
            transform: scale(0.5) rotateY(-20deg)
  }
  75% {
    -webkit-transform: scale(0.5) rotateY(0);
            transform: scale(0.5) rotateY(0);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Front face: the animated logo and blurb */
.face-front {
  background: #FED75A;
}

.figure-wrapper {
  height: 60vh; 
}

svg {
  width: 60vw;
  height: 60vh;
}

.text-front {
  max-height: 10vh;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/*Back face: general*/

.face-back {
  background: #D3D0CB;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face-back h1 {
  margin-top: 5vh;
  font-size: 47px;
  width: 500px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1,1,1,0)), color-stop(40%, #BD3749));
  background: -o-linear-gradient(top, rgba(1,1,1,0) 0% 40%, #BD3749 40% 80%);
  background: linear-gradient(to bottom, rgba(1,1,1,0) 0% 40%, #BD3749 40% 80%);
  padding-bottom: 10px;
  color: white;
}

.face-back .info-box {
  margin-top: 5vh;
  text-align: justify;
  padding: 20px;
  max-width: 460px;
  background: white;
}

.face-back h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.flip-back-button {
  margin-top: 5vh;
}

/*Face team: wie zijn wij?*/
#face-team .people-wrapper {
  margin-top: 5vh;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#face-team .person {
  max-width: 300px;
  min-height: 70px;
  max-height: 70px;

  margin: 5px 20px;
  padding: 0 20px;

  position: relative;
  overflow: hidden;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}

#face-team .person.active {
  background: white;
  min-height: 70px;
  max-height: 1000px;
  -webkit-box-shadow: 0 0 5px 5px grey;
          box-shadow: 0 0 5px 5px grey;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


#face-team .person-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#face-team .person-head img {
  border-radius: 50%;
  border: 2px black;
  padding: 10px 10px 10px 0;
}

#face-team .person-head h3 {
  font-family: 'Anago Book Italic', 'Lato', sans-serif; 
  color: black;
  opacity: 0.7;
  font-size: 16px;
}

#face-team .person-info p {
  line-height: 1.2em;
  padding-bottom: 10px;
}